<div class="container">
    <div class="row">
        <div class="col-md-12">
            <button class="btn btn-primary" (click)="navigateToCategory(1)">Category 1</button>
            <button class="btn btn-primary" (click)="navigateToCategory(2)">Category 2</button>
            <button class="btn btn-primary" (click)="navigateToCategory(3)">Category 3</button>
            <button class="btn btn-primary" (click)="navigateToCategory(4)">Category 4</button>
            <button class="btn btn-primary" (click)="navigateToCategory(5)">Category 5</button>
        </div>
    </div>
</div>